body {
    background: #E5E5E5;
}

#dashMeet {
  padding-top: 80px;
  padding-bottom: 20px;
  padding-left: 30px;
}

#labelDiv {
    padding-left: 30px;
}

.label {
   border: 2px solid #b1adad;
   padding: 10px;
   width: 80%;
}

label text {
    font-family: Circular Std;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #222222;
}