
 .home {
  background-image: url("../images/3_Relax\ V11x.svg");
  background-size: cover;
  background-color: #f7f8fb;
  background-position-y: bottom;
  background-position-x: left;
  height: 100vh;
  position: relative;
  overflow: hidden;
 background-repeat: no-repeat;
}

.home text {
  padding-top: 50px;
}

.stats {
  position: absolute;
width: 1440px;
height: 1319px;
left: 1px;
top: 750px;
background: #F4F5F7;
padding-top: 120px;
}

.caption {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px 32px 40px;

  background: #FFFFFF;
border-radius: 16px;
}

.design {
  position: absolute;
width: 1440px;
height: 1319px;
left: 1px;
top: 750px;
background: #F4F5F7;
}



.footer {
/* width: 1440px;
height: 224px; */
left: 0px;
bottom: 0px;
background: #091E42;
color: #ffffff;
}

.footer text {
  padding-top: 50px;
  
  font-family: Circular Std;
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 145%;
  
  
}